.post_preview {
    width: 600px; /* 이미지를 감싸는 부모 요소의 너비를 지정 */
}

.post_preview img{
    width: 50%; /* 이미지 태그의 너비를 부모 요소의 50%로 지정하여 부모 요소의 너비에 맞게 이미지 크기 조정 */
    height: auto; /* 이미지의 높이를 자동으로 조정하여 가로 세로 비율 유지 */
}