{% extends 'base/portal_nav.html' %}
{% load static %}
{% load posts_filters %}

{% block content %}
    <h1>검색 결과 페이지</h1>
    <!-- 탑 영역 -->
    <div id="portal_search_top" class="portal-search-results-top">
        <span>Grobo</span>
        <form id="portal_search_results_box" class="portal-search-results-box" method="get">
            <input id="portal_search_results_input" class="portal-search-results-input" name="portal_search_text" type="text">
            <button id="portal_search_results_button" class="portal-search-results-button" type="submit">검색</button>
        </form>
    </div>
    <!-- 메인 영역 -->
    <div id="portal_search_main" class="portal-search-main">
        <h1>검색 페이지 메인</h1>
        {{ text }}
    </div>
    <div id="search_results_data_box" class="search_results_data_box">
        <h2>백과사전</h2>
        {% for encyc_data in encyc_data_list %}
            <article id="encyc-data-{{ forloop.counter }}" class="encyc-data"> <!-- forloop.counter: 현재 반복의 순서를 나타낸다.(고유 id 생성에 적합) -->
                <a href="{{ encyc_data.link }}">
                    <h2 class="encyc-data-title">{{ encyc_data.title | formatted_markdown }}</h2> <!-- API 응답 값에 있는 <b> 태그를 '마크다운 필터'를 사용해서 굵은 글씨로 자동 변환-->
                    <p class="encyc-data-description">{{ encyc_data.description | formatted_markdown }}</p> <!-- API 응답 값에 있는 <b> 태그를 '마크다운 필터'를 사용해서 굵은 글씨로 자동 변환-->
                    {% if encyc_data.thumbnail %}
                        <img src="{{ encyc_data.thumbnail }}" alt="{{ encyc_data.title }}-썸네일">
                    {% endif %}
                </a>
            </article>
        {% endfor %}
    </div>
    <!-- 사이드 영역(오른쪽) -->
    <div id="portal_aside" class="portal-aside">
        <h1>사이드 영역</h1>
        <!-- 추후 관련 검색어 표시 요소 삽입 -->
    </div>
{% endblock %}
{% block footer %}
    <!-- 푸터 영역 -->
    <div id="portal_footer" class="portal-footer">
        <h1>포털 푸터</h1>
    </div>
{% endblock %}