{% extends 'base/base_nav.html' %}
{% load posts_filters %}

{% block css %}
    <!-- 웹 페이지에 jQuery 라이브러리를 추가하는 HTML 스크립트 태그 -->
    <!-- URL은 Google의 *CDN(Content Delivery Network)을 통해 호스팅되는 *jQuery 라이브러리의 경로를 가리킵니다. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <h1>Post 생성 페이지</h1>
    <!-- 마크다운 텍스트 필드가 보여지는 부분 -->
    <form id="post_markdown_form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} 
        <button type="submit">글 작성</button> -->
        <div>
            <input id="post_images_upload_field" name="post_images_upload_field" type="file" multiple><br>
            <button type="button" id="post_images_upload_button">이미지 첨부</button>
        </div>
        <div>
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div>
            {{ form.content.label }}
            <!-- <textarea id="markdown_text" name="markdown_text" rows="10" cols="50"></textarea> -->
            {{ form.content }}
        </div>
        <div>
            {{ form.tag.label }}
            {{ form.tag }}
        </div>
        <div>
            <button type="submit" id="form_submit">글 작성</button>
        </div>
    </form>
    <!-- 미리보기가 보여지는 부분 -->
    <div class="post_preview">
        <h1>미리보기</h1>
        <label for="post_title_preview">제목</label>
        <p id="post_title_preview" class="post-title-preview"></p>
        <label for="post_content_preview">내용</label>
        <p id="post_content_preview" class="post-content-preview"></p>
        <label for="post_tag_preview">태그</label>
        <p id="post_tag_preview" class="post-tag-preview"></p>
    </div>
{% endblock %}
{% block js %}
<script>
    // 미리보기 기능을 구현하는 기능
    function previewFunction() {
        var title = $('#post_title_id').val();
        // 위 $('#di명').on('input', function(){})에서 id명이 여러 개일 경우, 마크다운 택스트를 직접 지정
        var markdown_text = $('#post_markdown_id').val();
        // 위 $('#di명').on('input', function(){})에서 id명이 한 개일 경우, $(this)로 하나만 있는 id명을 가져옴
        // var markdown_text = $(this).val();
        var tag = $('#post_tag_id').val();
        $.ajax({
            url: '{% url "posts:posts_preview" %}',
            type: 'POST',
            // 헤드에 CSRF 토큰을 넣어 보내는 방식으로 사용하면 오류가 생김.(사용 보류)
            //headers: {
                //'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
            //},
            data: {
                'title': title,
                'markdown_text': markdown_text,
                'tag': tag,
                // 'input[name=csrfmiddlewaretoken]': POST 폼에는 CSRF_token이 hidden 속성으로 input 필드를 만들어서 요청을 보낼때 같이보낸다.
                // 'input[name=csrfmiddlewaretoken]': 해당 input 필드의 name 속성은 'csrfmiddlewaretoken'를 가지고 있다.
                // 그래서 아래 코드는 name 속성이 'csrfmiddlewaretoken'인 input 필드 즉, csrftoken 필드를 선택하고 해당 필드의 값을 가져오는 코드이다.
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(response){
                $('#post_title_preview').text(response.title);
                $('#post_content_preview').html(response.html_preview);
                $('#post_tag_preview').text(response.tag);
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText)
                alert(error)
            }
        });
    }

        // 페이지가 모두 로드되면 해당 이벤트 실행 준비
    function imageuploadFunction() {
        // FormData객체에서는 Form의 텍스트 데이터만 가져와서 저장한다.
        var form_data = new FormData($('#post_markdown_form')[0]);

        // 이미지 파일 데이터를 FormData객체에 추가
        // .files : form에 있는 모든 파일 데이터를 가져온다.
        // var files = $('#post_images_upload_field')[0].files;
        // for (var i = 0; i < files.length; i++) {
            // form_data.append('image', files[i]);
        // }

        // FormData 객체에 csrf 토큰을 넣어서 서버에서 인식할 수 있게 한다.
        form_data.append('csrfmiddlewaretoken', $('#post_markdown_form [name=csrfmiddlewaretoken]').val());

        $.ajax({
            url: '{% url "posts:posts_images_upload" %}',
            type: 'POST',
            data: form_data,
            processData: false,
            contentType: false,

            success: function(response){
                $('#post_markdown_id').text(response.markdown_text);
                $('#post_content_preview').html(response.makrdown_html);
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText)
                alert(error)
            }
        });
    }
    
    // 페이지가 모두 로드되면 해당 이벤트 실행 준비
    $(document).ready(function(){
        // 미리보기 함수 호출
        $('#post_title_id, #post_markdown_id, #post_tag_id').on('input', previewFunction);

        // 이미지 업로드 함수 호출
        $('#post_images_upload_button').on('click', imageuploadFunction);
    });
</script>
{% endblock %}