{% extends 'base/base_nav.html' %}
{% load posts_filters %}

{% block css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <h1>Post 생성 페이지</h1>
    <form id="posts_images_upload" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input id="id_images_upload" name="images_upload" type="file" multiple><br>
        <button type="submit" id="image_submit">이미지 첨부</button>
    </form>
    <form id="markdown_form" method="post">
        {% csrf_token %}
        <textarea id="markdown_text" name="markdown_text" rows="10" cols="50"></textarea>
        <button type="submit">Submit</button>
        <!-- {{ form.as_p }} 
        <button type="submit">글 작성</button> -->
        <!-- <div>
            <label for="id_title">제목</label>
            {{ form.title }}
        </div>
        <div>
            <label for="id_content">내용</label>
            {{ form.content }}
        </div>
        <div>
            <label for="id_tag">태그</label>
            {{ form.tag }}
        </div>
        <div>
            <button type="submit" id="form_submit">글 작성</button>
        </div> -->
    </form>
    <div id="html_preview" class="html-preview">
        
    </div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $('#markdown_text').on('input', function(){
            var markdown_text = $(this).val();
            $.ajax({
                url: '{% url "posts:posts_preview" %}',
                type: 'POST',
                data: {
                    'markdown_text': markdown_text,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(response){
                    $('#html_preview').html(response.html_preview);
                }
            });
        });
    });
    </script>
{% endblock %}